{% extends 'layout.html' %}
{% block header %}
    <header class="header">
        <h1 class="logo">{{title}}</h1>
        <div class="navImg">
            <img src="{{ url_for('static', filename='img/icons8-pencil-64.png') }}">
            <a href="{{ url_for('adminAdd') }}"><img src="{{ url_for('static', filename='img/icons8-add-64.png') }}"></a>
        </div> 
    </header>
{% endblock %}
{% block main %}
    <main>
        <div class="containerHome">
            <div class="head">
                {% if benefice > 0 %}
                    <p>+ {{ benefice|round|int }} €</p>
                {% else %}
                    <p>- {{ benefice|round|int }} €</p>
                {% endif %}
            </div>
            <div class="body">
                {% for transaction in transactionList %}
                    <a class="item_transaction" href="{{ url_for('adminDel', id=transaction.id) }}">
                        <span class="cryptoHome">
                            <img src="{{ url_for('static', filename='img/'+transaction.name.lower()+'.png') }}">
                            <p><strong>{{ transaction.symbole }}</strong> ({{ transaction.name }})</p>
                            <img class="flecche" src="{{ url_for('static', filename='img/fleche_'+diff[transaction.name]+'.png') }}">
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main> 
{% endblock %}